<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1">
<title>doxdox - A simple solution for auto generated documentation.</title>
<link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>

<body>

<header class="page-header">

    <nav class="header-nav">
        <ul>
            <li><a href="#getting-started">Getting Started</a></li>
            <li><a href="https://doxdox.org/neogeek/doxdox">Documentation</a></li>
            <li><a href="https://forum.doxdox.org/">Forum</a></li>
            <li><a href="#plugins">Plugins</a></li>
            <li><a href="https://github.com/neogeek/doxdox">View on GitHub</a></li>
        </ul>
    </nav>

    <div class="promo">

        <div class="copy">

            <div class="inner">

                <h1 class="logo">doxdox</h1>

                <blockquote class="tagline">A simple solution for auto generated documentation.</blockquote>

                <p><b>doxdox</b> is a documentation generator that converts JSDoc comment blocks into easy to read Bootstrap and Markdown documentation files.</p>

                <div class="actions">
                    <a href="#getting-started" class="btn">Get Started Now</a>
                    <a href="https://github.com/neogeek/doxdox" class="btn">View on GitHub</a>
                </div>

            </div>

        </div>

        <div class="screenshots">
            <div class="inner">
                <img srcset="/images/screenshot-paas-2x.png, /images/screenshot-paas.png 500w" src="/images/screenshot-paas.png">
                <img srcset="/images/screenshot-dash-2x.png, /images/screenshot-dash.png 500w" src="/images/screenshot-dash.png">
            </div>
        </div>

    </div>

</header>

<main class="page-content">

    <section id="intro">

        <div class="step">

            <h3>Take JSDoc comment blocks ...</h3>

            <img srcset="/images/screenshot-jsdoc-2x.png, /images/screenshot-jsdoc.png 500w" src="/images/screenshot-jsdoc.png">

        </div>

        <div class="step">

            <h3>... and turn them into easy to read documentation!</h3>

            <figure>

                <img srcset="/images/screenshot-desktop-2x.jpg, /images/screenshot-desktop.jpg 500w" src="/images/screenshot-desktop.jpg">

                <figcaption>Bootstrap template plugin, included with doxdox</figcaption>

            </figure>

        </div>

    </section>

    <section id="getting-started">

        <h2><span>Getting Started</span></h2>

        <div class="step">

            <h3>Install doxdox with NPM</h3>

            <pre>$ npm install doxdox -g</pre>

        </div>

        <div class="step">

            <h3>Generate Documentation</h3>

            <pre>$ doxdox 'lib/**/*.js' --layout markdown --output DOCUMENTATION.md</pre>

            <p class="read-more"><a href="https://github.com/neogeek/doxdox#layouts">Read more about the different layouts available.</a></p>

        </div>

    </section>

    <div class="plugins">

        <section id="plugins">

            <h2><span>Plugins</span></h2>

            <div class="plugin-wrapper">

                {{#each plugins}}

                <div class="plugin">
                    <p>
                        <a href="https://www.npmjs.org/package/{{package.name}}" class="plugin-name">{{package.name}}</a>
                    </p>
                    <p>
                        <a href="https://www.npmjs.org/package/{{package.name}}"><img src="https://img.shields.io/npm/v/{{package.name}}.svg?style=flat" alt="NPM Version"></a>
                        <a href="https://doxdox.org/neogeek/{{package.name}}"><img src="https://doxdox.org/images/badge-flat.svg" alt="Latest Documentation"></a>
                    </p>
                    <p class="plugin-description">{{package.description}}</p>
                </div>

                {{/each}}

            </div>

            <p class="read-more">See more plugins at <a href="https://www.npmjs.com/search?q=doxdox+plugin">npmjs.com</a>.</p>

        </section>

    </div>

</main>

<footer class="page-footer">

    <p>Made with ♥ by <a href="https://github.com/neogeek">@neogeek</a></p>

</footer>

</body>
</html>
